<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086778997038-acrknlp20s6ucvc1fcbltstme31jldmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086778997038-acrknlp20s6ucvc1fcbltstme31jldmq</string>
	<key>API_KEY</key>
	<string>AIzaSyDbQ9GwbTy2JQYJEF2jcFCSuK0dv6FiftA</string>
	<key>GCM_SENDER_ID</key>
	<string>1086778997038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hytechsolutions.info.caveTracker</string>
	<key>PROJECT_ID</key>
	<string>cave-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>cave-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086778997038:ios:0fbc0b5fee60b81a4622bf</string>
</dict>
</plist>